.register {
  background-color: $color-background;
  min-height: 100vh;
  padding: 2rem;

  &__hero {
    min-width: 300px;
    height: 100%;
    width: 100%;
    max-width: 600px;
  }

  &__content {
    flex: 1;
  }

  &__content-left {
    max-width: 720px;
  }

  &__form {
    padding: 2rem;
    background-color: $color-light;
    min-width: 300px;
    border-radius: 0.5rem;
  }

  &__input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid $color-dark;
    border-radius: 0.25rem;
  }
}
