@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 360px;
  color: $color-light;
}

@mixin gradient($direction, $list) {
  background: linear-gradient($direction, $list);
}

@mixin transition-ease($ms) {
  transition: all $ms ease-in-out;
}

@mixin bg-color-opacity($color, $opacity) {
  background: $color; // fallback
  background: rgba($color, $opacity);
}

@mixin media-desktop {
  @media screen and (min-width: 720px) {
    @content;
  }
}
