$color-primary: #0487d9;
$color-primary-dark: #0476be;
$color-primary-light: #0496f0;
$color-success: #2cbf6c;
$color-success-dark: #27aa60;
$color-success-light: #34d078;
$color-warning: #f2a03d;
$color-warning-dark: #f09323;
$color-warning-light: #f3ab53;
$color-danger: #d91a1b;
$color-danger-dark: #c41718;
$color-danger-light: #e5292a;

$color-background: #465973;
$color-dark: #2c3540;
$color-light: #fafdff;
